*{
    margin:0;
    padding:0;
}
body{
   
    font-family:tahoma;
}

a { text-decoration:none }
.clear:before,
.clear:after {
	content:" ";
	display: table
}
.clear:after {
     clear: both;
    
    }
.arrow {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle
}
.arrow.down {
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}
.arrow.up {
	border-bottom: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}

nav {
	width: 100%;
    background: rgb(236, 173, 0);
}
nav .navbar {
	width: 95%;
	max-width: 1000px;
    margin:0 auto;
}
nav a { color: #000; }
nav .logo {
	float: left;
	display: inline-block;
	font-size: 34px;
	font-weight: bold;
	margin-top:15px;
}
nav .menu-toggle {
	cursor: pointer;
	display: none;
	float: right;
	padding: 12px;
	margin: 10px 0;
	background: rgb(236, 173, 0);
	transition: background-color .5s
}
nav .icon-bar {
	background-color: #fff;
	display: block;
	width: 22px;
	height: 2px
}
nav .icon-bar + .icon-bar { margin-top: 4px }

nav .menu ul { float: right }
nav .menu li {
	float: left;
	list-style: none;
}
nav .menu li:first-child { border-left: 0 }
nav .menu li a,
nav .open-submenu {
	color: #fff;
	cursor: pointer;
	position: relative;
	display: block;
	padding: 30px 13px;
    transition: background-color .3s;
    font-size: 17px;
}
nav .menu li a:hover,
nav .open-submenu:hover ,
nav .open-submenu.active,
nav .menu-toggle.active  {
	background: #62b38d;
	transition: background-color .5s
}
nav .menu ul ul {
	z-index: 100;
	display: none;
	float: none;
	position: absolute;
	background: #FFBB22
}
nav .menu ul ul li {
	float: none;
	border: 0
}
nav .menu ul ul a:hover {
	background: #62b38d;
	transition: background-color 0.3s ease;
}

@media(max-width:600px) {
    nav .logo { padding-top: 8px;
                font-size:24px;
            margin-top:10px;}
	nav .menu-toggle { display: inline-block }
	nav .menu { display: none; clear: both }
	nav .menu > ul { float: none }
    nav .menu li { width: 100%; border: 0 }
    nav .menu li a{font-size: 15px; margin-left: 2px;}
	nav .menu li:last-child { margin: 0 0 15px 0 }
	nav .menu li a,
	nav .open-submenu {
		display: block;
		background: #aa8e39;
		padding: 10px;
        margin: 2px 0 0 0;
        background:#aa8e39;
	}
	nav .menu ul ul {
		position: static;
		background: transparent;
		display:none
	}
	nav .menu ul ul a { background: transparent }
    nav .menu ul ul a:hover { background: rgb(175, 131, 28) }
    

}
/*---------nav-----------*/
.container_wrepper{
    width:100%;
    height:500px;
    margin:0 auto;
    display:block;
    padding-top: 40px;
}
.container_bg{
    background-image:url(img/preview1.jpg);
    background-size: cover;
    background-position: center;
}
.form_box{

    width:500px;
    background:black;
    margin:0 auto;
    padding:80px 0;
    color:white;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);

}
h1{
    text-align: center;
    margin-bottom: 40px;
}

.input_box{
    margin:30px auto;
    width:80%;
    border-bottom: 1px solid white;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: transparent;
}
.input_box input{
    width:90%;
    border:none;
    outline:none;
    background:transparent;
    color:white;
}
::placeholder{
    color:white;
}

.fa{
    margin-right: 10px; 
}
.eye_ion{
    position: absolute;
}
#hidden1{
    display:none;
}
.login_btn{
    width:80%;
    margin:40px auto 20px;
    display: block;
    outline: none;
    padding:10px 0px;
    border:1px solid white;
    cursor: pointer;
    background:transparent;
    color:white;
    font-size: 15px;
}
a{
    text-decoration: none;
}
/*footer--*/

.footer_wrapper{
    width:100%;
    height:auto;
    display: block;
    margin:0 auto;
  background:url(img/images.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;

}
.footer_wrapper::before{
    content:"";
    position: absolute;
    top:0;
    width:100%;
    height:400px;
    background:url(img/Untitled-1.png);
    background-size: cover;
    background-position: center;


}
.footer_container{
    width:1249px;
    height:400px;
    display: block;
    margin:0 auto;
}

.content1,.content2,.content3,.content4{
    width: 23%;
    height: auto;
    float: left;
    padding-left: 23px;
    margin-right: 0rem;
    margin-top: 3rem

    
}
.icon img{
    width: 20px;
    height: 20px;
    background-color: orange;
    border-radius: 50px;
    display: block;
    position: absolute;
    cursor: pointer;
}
.icon span{
    margin-top: 0px;
    display: block;
    margin-left: 2rem;
    color: white;
    cursor: pointer;
}
.icon span:hover{
    color:orange;
}
.content1 h2,.content2 h2,.content3 h2,.content4 h2{
    color:#fffb00;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
.content1 h1{
    color:black;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.content1 p{
    color:white;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.content1 h3{
    color:orange;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.content2 li,.content3 li{
    list-style:none;
}
.content2 li a,.content3 li a{
    list-style: none;
    line-height: 25px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
.content2 li a:hover,.content3 li a:hover{
    color: orange;
}
.content4 input[type="email"]{
    padding:7px 5px;
    width:90%;
    height:20px;
    border:none;
    padding-left:10px;
    border-radius: 5px;
}
.content4 input[type="submit"]{
    padding: 5px;
    width: 50%;
    height: 35px;
    color: white;
    background: orange;
    border: none;
    font-weight: bold;
    font-size: 16px;
    font-family: arial;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;

}

.content4 input[type="submit"]:hover{
    background-color:rgb(185, 124, 10);
    transition:0.2s ease;
}
::placeholder{
    color:black;
}
.footer_media{
    width:1249px;
    height:125px;
    border-top: 2px solid white;
    margin:0 auto;
}
.footer_media p{
    color: white;
    text-align: right;
    margin-right: 7rem;
    display: block;
    font-size: 15px

}
.mediaicon img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-left: 4px;
    margin-top: 1rem;
   
}
.mediaicon{
    width: 15%;
    margin: 0 auto;
    display:block;
   
}
div#sticker {
}
.stick {
    position:fixed;
    margin-top:0px;
	z-index:9999;
}

